.main__subtitle {
  font-weight: normal;
  font-size: 1em;
  line-height: 25px;
  text-align: center;
  color: black;
  margin: 0 auto 69px;
  max-width: 621px;
}
.main__subtitle:last-of-type {
  max-width: 200px;
  margin-left: 1100px;
  margin-bottom: 0;
}
