.product-grid__cards {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 11px 40px;
}
.tab {
  display: none;
}

.tab.active {
  display: block;
}
