.cover__button-call {
  cursor: pointer;
  width: 260px;
  height: 60px;
  border-radius: 59px;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  text-align: center;

  color: #FFFFFF;
  background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  border: 2px solid #FE5626;
}
